<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="WorkforceX - Find Jobs"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WorkforceX">

        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" android:exported="false"/>
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false"/>
        <activity android:name=".ui.worker.WorkerDashboardActivity" android:exported="false"/>
        <activity android:name=".ui.worker.WorkerProfileActivity" android:exported="false"/>
        <activity android:name=".ui.worker.BrowseJobsActivity" android:exported="false"/>
        <activity android:name=".ui.worker.MyApplicationsActivity" android:exported="false"/>
        <activity android:name=".ui.worker.JobDetailsActivity" android:exported="false"/>
        <activity android:name=".ui.worker.NotificationsActivity" android:exported="false"/>
        <activity android:name=".ui.worker.VerificationActivity" android:exported="false"/>

    </application>

</manifest>
